@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins */

@mixin under_line_form {
  border: none;
}

/* universal */
.page_title {
  h1 {
    text-align: center;
    font-weight: normal;
    margin: 60px 0px;
  }
}

/* header */
header {
  .container-fluid::before, .container-fluid::after {
    display: none;
  }
  .container-fluid {
    padding: 30px 0px;
    margin: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #app_name {
      color: white;
      text-decoration: none;
      font-size: xx-large;
      font-weight: bold;
    }
    #btn {
      padding: 16px 40px; 
    }
  }
}

/* footer */
footer {
  background-color: #1B5678;
  color: white;
  margin-top: 50px;
  h4 {
    padding: 10px 0px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 0px;
  }
}

  
/* home */
.center {
  text-align: center;
  padding: 30px 50px;
  .container {
    display: flex;
    justify-content: center;
    vertical-align: top;
    margin-top: 50px;
    .img {
      margin-right: 80px;
      img {
        width: 310px;
        height: 310px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .introduce {
      text-align: left;
      h2 {
        margin-top: 0;
        span {
          border-bottom: 2px solid;
          padding-bottom: 10px;
          padding-right: 100px;
        }
      }
      p {
        margin-top: 40px;
        font-size: medium;
        font-weight: 300;
        width: 70%;
        .real {
          color: black;
        }
        .fake {
          color: red;
        }
      }
    }
  }
  .skillchart {
    margin-top: 150px;
    h2 {
      span {
        border-bottom: 2px solid;
        padding: 0px 60px 10px 60px;
      }
    }
    .chart {
      margin: 100px 120px 0px 120px;
      text-align: center;
    }
    p {
      font-size: small;
    }
  }
}

body {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .main {
    flex: 1;
  }
}



/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

input, select {
  width: auto;
  margin-bottom: 25px;
  @include under_line_form;
}

input:focus, textarea:focus {
  outline: 0;
}

label {
  font-size: smaller;
  font-weight: 200;
}

form {
  padding: 0px 30px;
  .btn {
    background-color: #1B5678;
    color: white;
    margin-top: 50px;
    font-size: large;
    font-weight: 200;
    padding: 12px 70px
  }
}


.self-form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.428571429;
  color: #555555;
  border-bottom: 1px solid;
}

#session_password {
  font-size: 50px;
}

#login_title {
  font-weight: normal;
}

.profile_edit {
  .text-form-control {
    display: block;
    width: 100%;
    font-size: 14px;
    color: #555555;
    @include under_line_form;
    border-bottom: 1px solid;
    resize: vertical;
  }
  p {
    margin-top: 5px;
    margin-bottom: 40px;
    font-size: smaller;
    font-weight: 200;
  }
  .image_input_btn {
    display: block;
    background-color: #0000001A;
    ;
    width: 180px;
    height: 30px;
    margin-top: 2px;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 18px;
    font-size: 13px;
    font-weight: normal;
  }
  .image_form {
    display: none;
  }
}
