@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');


/* mixins */

@mixin under_line_form {
  border: none;
}

/* universal */
.page_title {
  h1 {
    text-align: center;
    font-weight: normal;
    margin: 60px 0px;
  }
}

p {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.15px;
  color: var(--text-secondary, rgba(0, 0, 0, 0.54));
}

h2 {
  margin-top: 0;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: rgba(0, 0, 0, 0.75);
}

/* header */
header {
  .container-fluid::before, .container-fluid::after {
    display: none;
  }
  .container-fluid {
    padding: 30px 0px;
    margin: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #app_name {
      color: white;
      text-decoration: none;
      font-size: xx-large;
      font-weight: bold;
    }
    #btn {
      padding: 16px 40px; 
    }
    form {
      margin: 0;
      button {
        background-color: white;
        color: rgba(0, 0, 0, 0.75);
        padding: 16px 40px;
      }
    }
  }
}

/* footer */
footer {
  background-color: #1B5678;
  color: white;
  margin-top: 50px;
  h4 {
    padding: 10px 0px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 0px;
  }
}

  
/* home and user_edit */
.center {
  text-align: center;
  padding: 30px 50px;
  .container {
    display: flex;
    justify-content: center;
    vertical-align: top;
    margin-top: 50px;
    .img {
      margin-right: 80px;
      img {
        width: 360px;
        height: 360px;
        border-radius: 360px;
        object-fit: cover;
      }
    }
    .introduce {
      text-align: left;
      span {
        border-bottom: 2px solid rgba(0, 0, 0, 0.50);
        padding-bottom: 16px;
        padding-right: 100px;
      }
      .real {
        margin-top: 40px;
        font-size: 18px;
        font-weight: 400;
        width: 70%;
        font-style: normal;
        line-height: 150%;
        color: rgba(0, 0, 0, 0.75);
      }
      .fake {
        margin-top: 40px;
        font-size: 18px;
        font-weight: 400;
        width: 70%;
        font-style: normal;
        line-height: 150%;
        color: red;
      }
      .btn {
        background-color: #1B5678;
        color: white;
        margin-top: 14px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        padding: 16px 40px;
        border-radius: 4px;
      }
    }
  }
  .skillchart {
    margin-top: 120px;
    h2 {
      span {
        border-bottom: 2px solid rgba(0, 0, 0, 0.50);
        padding: 0px 70px 16px 70px;
      }
    }
    .btn {
        background-color: #1B5678;
        color: white;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        border-radius: 4px;
        padding: 16px 40px;
        margin-top: 40px;
    }
    .chart {
      margin-top: 70px;
      text-align: center;
    }
    p {
      font-size: 14px;
      font-weight: 500;
    }
  }
}

body {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  .main {
    flex: 1;
  }
}



/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

input, select {
  width: auto;
  @include under_line_form;
}

input:focus, textarea:focus, select:focus {
  outline: 0;
}

label {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.15px;
  color: var(--text-secondary, rgba(0, 0, 0, 0.54));
  margin-bottom: 0px;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 48px;
  .btn {
    background-color: #1B5678;
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding: 16px 80px;
    line-height: normal;
    border-radius: 4px;
    }
  }
  
  .self-form-control {
    display: block;
    width: 100%;
    height: 34px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #555555;
    border-bottom: 1px solid;
  }
  
  #login_title {
    font-weight: normal;
  }


/* profile edit */

.profile_edit {
  width: 960px;
  align-items: center;
  .profile {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  .self-introduction {
    display: flex;
    width: 480px;
    flex-direction: column;
    gap: 5px;
    p {
      margin: 0;
    }
    .input {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }
    .text-form-control {
      display: block;
      width: 100%;
      font-size: 14px;
      color: #555555;
      @include under_line_form;
      border-bottom: 1px solid;
      resize: none;
    }
  }
  .img-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
  }
  .image_input_btn {
    display: block;
    background-color: #0000001A;
    width: auto;
    height: auto;
    margin-top: 2px;
    border-radius: 5px;
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.75);
  }
  .image_form {
    display: none;
  }
  .btn {
    padding: 16px 80px;
  }
}

/* forms related skill */
.skill {
  h1 {
    text-align: center;
    font-weight: normal;
    margin: 60px 0px 35px 0px;
  }
  .level-new-group {
    position: relative;
    p {
      margin-top: 6px;
    }
    .level-new {
      appearance: none;
    }
    i {
      position: absolute;
      bottom: 30px;
      left: 482px;
    }
  }

}

th {
  form {
    padding: 0px;
  }
}

/* skill-index */
.skill-index {
  margin: 80px 120px;
  
  .panel {
    padding: 40px;
    margin-bottom: 40px;
    border-radius: 8px;
    border: 1px solid #00000080;
    max-width: 960px;
    .panel-body {
      display: flex;
      justify-content: space-between;
      padding: 0px;
      margin-bottom: 32px;
      &::after, &::before {
        display: none;
      }
      h3 {
        margin-top: 0px;
        border-bottom: 2px solid #00000080;
        padding-bottom: 16px;
        padding-right: 96px;
        margin-bottom: 3px;
      }
      .skill-add {
        background-color: #1B5678;
        color: white;
        font-size: medium;
        font-weight: 200;
        padding: 16px 40px;
        border-radius: 4px;
        text-decoration: none;
      }
    }
    


    .table {
      border-collapse: separate;
      border-radius: 5px;
      box-shadow: 0px 1px 2px #bbbbbb;
      table-layout: fixed;
      th {
        font-weight: 400;
      }
      .th-name {
        padding: 16px 16px 16px 40px;
      }
      .th-level {
        padding: 16px;
        position: relative;
        select {
          appearance: none;
        }
        i {
          position: absolute;
          top: 28px;
          left: 150px;
        }
      }
      .th-save {
        padding: 16px;
      }
      .th-delete {
        padding: 16px 40px 16px 16px;
      }
      .level-number {
        padding: 8px 16px;
        width: 160px;
        height: 40px;
        border: 1px solid #0000003B;
        border-radius: 4px;
      }
      .level-save {
        color: #1B5678;
        border: 1px solid #1B5678;
        background-color: white;
        padding: 8px 16px;
        border-radius: 4px;
        font-weight: 400;
      }
      .level-delete {
        color: white;
        background-color: #EE6969;
        border-radius: 4px;
        padding: 8px 16px;
        font-weight: 400;
        text-decoration: none;
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.modalArea {
  display: none;
  position: fixed;
  z-index: 2000; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 640px;
  height: 240px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
}

.closeModal {
  button {
    padding: 16px 40px;
    background-color: #1B5678;
    color: white;
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: none;
  }
}
